.a{
    background-color: rgb(192, 192, 240);
}
.b{
   
    border: 2px solid black;
    height: 300px;
    width: 300px;
}
.d{
    border:2px solid black;
}
.f{
    border: 2px solid black;
}